body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-size: 72px;
    color: #e74c3c;
    margin-bottom: 20px;
}

p {
    font-size: 24px;
    color: #333;
}


.form-buttons {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .btn {
    display: inline-block;
    width: 35%;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #4CAF50;
    transition: background-color 0.3s ease;
  }
  
  .btn-login:visited {
    color: #fff; 
  }
  
  .btn:hover {
    background-color: #247228;
  }
  
  .btn:visited {
    color: #fff;
  }