body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    align-items: center;
    margin: 0;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.navbar .user-name {
    font-weight: bold;
}

.navbar .dropdown {
    position: relative;
    display: inline-block;
}

.navbar .dropbtn {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.navbar .dropbtn:hover {
    background-color: #45a049;
}


.navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.navbar .dropdown:hover .dropdown-content {
    display: block;
}

.navbar .dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.navbar .dropdown-content a:hover {
    background-color: #f2f2f2;
}

.container {
    max-width: 450px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .container h2 {
    text-align: center;
    margin-bottom: 20px;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 20px;
    align-items: center;
  }
  
  .form-group .form-switch {
    display: flex;
    align-items: center;
  }
  
  .form-group .form-switch input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .form-group .form-switch label {
    margin-bottom: 0;
  }
  
  .registro-form {
    display: none;
  }
  
  .form-buttons {
    text-align: center;
  }
  
  .form-buttons button {
    margin-right: 10px;
  }

  .form-group input[type="submit"] {
    width: 80%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .form-group input[type="submit"]:hover {
    background-color: #247228;
  }

.codigo-postal-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.nombreE-input {
  width: 50px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  align-items: center;
}

.capacidad-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.tarifas-input {
  width: 370px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  align-items: center;
}

.tolerancia-input {
  width: 320px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
}

select:focus {
  outline: none;
  border-color: #4CAF50;
  box-shadow: 0 0 5px #4CAF50;
}

.select-borrar {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
}

.select-borrar:focus {
  outline: none;
  border-color: #dc3545;
  box-shadow: 0 0 5px #dc3545;
}

.select-modificar {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
}

.select-modificar:focus {
  outline: none;
  border-color: #35dcaa;
  box-shadow: 0 0 5px #35b5dc;
}

option {
  padding: 5px;
}

.custom-select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
}

.custom-select:focus {
  outline: none;
  border-color: #4CAF50;
  box-shadow: 0 0 5px #4CAF50;
}

.custom-select option {
  padding: 5px;
}

.form-group-users input[type="text"],
.form-group-users input[type="email"],
.form-group-users input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-group-est input[type="text"]{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.containerThin {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.form-group-rojo input[type="submit"] {
  width: 80%;
  padding: 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form-group-rojo input[type="submit"]:hover {
  background-color: #a7202e;
}

.form-group-amarillo input[type="submit"] {
  width: 80%;
  padding: 10px;
  background-color: #fbff00;
  color: #333;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form-group-amarillo input[type="submit"]:hover {
  background-color: rgb(238, 203, 7);
}

.form-group-cian input[type="submit"] {
  width: 80%;
  padding: 10px;
  background-color: #35dcaa;
  color: #000000;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form-group-cian input[type="submit"]:hover {
  background-color: #35dcdc;
}

.form-group-azul input[type="submit"] {
  width: 80%;
  padding: 10px;
  background-color: #564caf;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form-group-azul input[type="submit"]:hover {
  background-color: #342a8a;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  outline: none;
  border-color: #4CAF50 !important;
  box-shadow: 0 0 0 0.2rem rgba(76, 175, 80, 0.25) !important;
}

.amarillo {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.amarillo:focus {
  outline: none;
  border-color: #e9ec22 !important;
  box-shadow: 0 0 0 0.2rem rgba(233, 236, 34, 0.25) !important;
}

.azul {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.azul:focus {
  outline: none;
  border-color: #564caf !important;
  box-shadow: 0 0 0 0.2rem rgba(37, 34, 236, 0.25) !important;
}

.cian {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.cian:focus {
  outline: none;
  border-color: #35dcaa !important;
  box-shadow: 0 0 0 0.2rem rgba(34, 236, 219, 0.25) !important;
}

/*-----------------------------------------*/

.containerlistas {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.containerlistasMid {
  max-width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group .form-switch {
  display: flex;
  align-items: center;
}

.form-group .form-switch input[type="checkbox"] {
  margin-right: 5px;
}

.form-group .form-switch label {
  margin-bottom: 0;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e6e6e6;
}