{% extends 'base/base.html' %}
{% block title %}  {{ title }} {% endblock %}

{% block content %}

{% from "_macro.html" import render_field %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">

<nav class="navbar">
  <div class="user-name">
      ESTACIONAMIENTOS SISCON
  </div>
  <div class="dropdown">
      <button class="dropbtn">{{ username }}</button>
      <div class="dropdown-content">
          <a href="/index">Vista usuario</a>
          <a href="/logout">Cerrar sesión</a>
      </div>
  </div>
</nav>
<br>
<div class="container text-center">
  <div class="row">
    <div class="form-group col-sm-5 col-md-6">
      <h3>Registrar Estacionamiento</h3>
      <a href="/estacionamientos" class="btn">Ingresar</a>
    </div>
    <div class="form-group col-sm-5 offset-sm-2 col-md-6 offset-md-0">
      <h3>Administrar Usuarios</h3>
      <a href="/usuarios" class="btn">Ingresar</a>
    </div>
    <div class="form-group col-sm-5 offset-sm-2 col-md-6 offset-md-0">
      <h3>Modificar Tarifas</h3>
      <a href="/tarifas" class="btn">Ingresar</a>
    </div>
    <div class="form-group col-sm-5 offset-sm-2 col-md-6 offset-md-0">
      <h3>Registros</h3>
      <a href="/registros" class="btn">Ingresar</a>
    </div>
  </div>
</div>
<br>
<center><img src="{{ url_for('static', filename='img/admin.jpg') }}" style="width: 450px; height: 300px;"></center>
<br><br>
{% endblock %}