<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Gracias por unirte a "ESTACIONAMIENTOS SISCON"!</title>
</head>
<body>
    <h1><strong>¡Gracias {{ username }}, por unirte a "ESTACIONAMIENTOS SISCON"!</strong></h1>
    <h2>¡Bienvenido/a!</strong></h2>
    <p>Es un placer darte la bienvenida a nuestra aplicación web. Esperamos que disfrutes de nuestros servicios y encuentres todo lo que necesitas para gestionar tu agenda de manera eficiente.</p>
    <p>Si tienes alguna duda o necesitas asistencia, no dudes en contactarnos. Estamos aquí para ayudarte en todo momento.</p>
    <p>Atentamente,</p>
    <h3>El equipo de "ESTACIONAMIENTOS SISCON"</h3>
</body>
</html>